section{
    background-color: var(--background-color);
    min-height: 1400px;
}

.container-0{
    margin-left: auto;
    margin-right: auto;
}
.h2-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2-title{
    
}